# Ignore all folders in Other_Properties folder
/Other_Properties/**

# Except for "x" folder/file
!/Other_Properties/HoverButton/
!/Other_Properties/PhotoSite/Starter/
!/Other_Properties/PhotoSite/README.md



#ignore downloads folder
/downloads/
