<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome <%= 4+5+1 %> </h1> <!--ejs tags used here-->
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic consectetur, saepe corporis odio aliquam eaque, accusamus vitae incidunt cum officia ratione cumque in aut autem! Accusamus laudantium et molestiae eligendi!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis iure amet sed voluptate expedita quis, alias libero nobis atque. Quis, enim quos alias consequatur reiciendis ab accusamus in aperiam. In?</p>
</body>
</html>